<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <form method="get" action="{{ url_for('store_orders') }}">
      <button type="submit" class="btn login-btn" style="margin-top: 20px;">Review Store Orders</button>
    </form>
    
    <form method="get" action="{{ url_for('edit_menu_items') }}">
      <button type="submit" class="btn login-btn" style="margin-top: 20px;">Edit Menu Items</button>
    </form>

    <form method="get" action="{{ url_for('edit_prices') }}">
      <button type="submit" class="btn login-btn" style="margin-top: 20px;">Edit Menu Prices</button>
    </form>
  </div>
</body>
</html>
