<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="container">
    <form method="get" action="reviewOrders.html">
      <input type="hidden" name="preset" value="review_orders">
      <button type="submit" class="btn login-btn" style="margin-top: 20px;">Review Orders</button>
    </form>
    
    <form method="get" action="customize_pizza.html">
      <input type="hidden" name="preset" value="customize_pizza">
      <button type="submit" class="btn login-btn" style="margin-top: 20px;">Create a Pizza</button>
    </form>
  </div>
</body>
</html>